extends layout

block content
    h1= title
    p Welcome to #{title}
    p Math.abs () is applied to #{number1} is #{abs}
    p Math.acos () is applied to #{number2} is #{ac}
    p Math.sin () is applied to #{number3} is #{sin}
    p Math.sinh () is applied to #{number4} is #{sng}